<!DOCTYPE html>
<html>
<head>
    <title>Thank You</title>
    <script>
        let mediaRecorder;
        let recordedBlobs;
        let stream;

        async function startRecording() {
        recordedBlobs = [];
        try {
            stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: true });
            document.querySelector('video').srcObject = stream;
            document.querySelector('video').muted = true;
        } catch (err) {
            console.error('Error accessing media devices.', err);
            return;
            }
        } 
        function start() {
            document.getElementById('stop').disabled = false;
            document.getElementById('start').disabled = true;
            startRecording();
        }

        function stop() {
            document.getElementById('stop').disabled = true;
            document.getElementById('start').disabled = false;
            mediaRecorder.stop();
            stream.getTracks().forEach(track => track.stop());
            document.querySelector('video').muted = false;
        }

        function submit() {
        }


    </script>


</head>
<body>
    <h1>Thank You for Your Submission!</h1>
    <p>Your information has been successfully submitted.</p>
    <video controls autoplay></video>
    <button id="start" onclick="start()">Record</button>
    <button id="stop" onclick="stop()" disabled>Stop</button>
    <button id="submit" onclick="submit" disabled>Submit Video</button>
</body>
</html>

